.overlay{ 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 0; */
    width: 1200px;
    height: 650px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255 , 0.9); 
    border-radius: 12px;

    

}

.overlaychild{
    position: relative;
    /* background-color: rgb(255, 255, 255); */

}

.close-icon{
    margin: 15px;
    display: flex;
    position: absolute;
    height: 60px;
    width: 60px;
    padding: 10px;
    align-items: end;
    right: 0;
    top: 0;
    cursor: pointer;
    

}

