

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.landingpagemodulecont {
 
  margin-top: 120px; 
  margin-bottom: 120px; 
  margin-left: auto;       
  margin-right: auto; 
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  opacity: 0.7;
  gap: 20px;
  min-height: 80px;        
  font-family: 'Anton', sans-serif;       
}

.firstmodule {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  font-size: 30px; 
  gap: 15px;
  text-align: center;
}

.subtext {
  font-size: 18px; 
  color: #000000;
  text-align: center;
  margin-top: 15px;
  width: 95%;
  line-height: 1.4;
}

.secondmodule {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdmodule {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupBox {
  flex-direction: column;
 display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  /* gap: 20px; */

}

.popupContent{
  flex-direction: row;
 display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 10px;
  /* margin-top: 10px; */
}

.input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 30px;
  margin-top: 10px;
  height: 75px;
  font-weight: 900;
  /* opacity: unset; */
}


@media screen and (min-width: 481px) {
  .landingpagemodulecont {
    width: 90%;
    padding: 18px;
    gap: 25px;
    margin-bottom: 130px; 
  }
  
  .firstmodule {
    font-size: 45px;
    gap: 18px;
  }
  
  .subtext {
    font-size: 22px;
    width: 90%;
    margin-top: 18px;
  }
}


@media screen and (min-width: 768px) {
  .landingpagemodulecont {
    width: 85%;
    padding: 20px;
    gap: 30px;
    margin-top: 130px;
    margin-bottom: 140px; 
  }
  
  .firstmodule {
    font-size: 65px;
    gap: 20px;
  }
  
  .subtext {
    font-size: 28px;
    width: 85%;
    margin-top: 20px;
  }
}


@media screen and (min-width: 1024px) {
  .landingpagemodulecont {
    width: 80%;
    padding: 20px;
    gap: 30px;
    margin-top: 140px;
    margin-bottom: 150px; 
  }
  
  .firstmodule {
    font-size: 80px;
    gap: 20px;
  }
  
  .subtext {
    font-size: 35px;
    width: 80%;
    margin-top: 20px;
  }
}


@media screen and (min-width: 1200px) {
  .landingpagemodulecont {
    width: 70%;
    padding: 20px;
    gap: 30px;
    margin-top: 200px;
    margin-bottom: 160px; 
  }
  
  .firstmodule {
    font-size: 100px;
    gap: 20px;
  }
  
  .subtext {
    font-size: 40px;
    width: 80%;
    margin-top: 20px;
  }
}