/* .overlay{ 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 1200px;
    height: 650px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255 , 0.9); 
    border-radius: 12px;

    

} */